### => .................... CURSO BASE DE DATOS... // SQL ........................

=> HOY EN DÍA YA NO TENEMOS QUE ANDAR RECORDANDO TODO Y QUE ESTÉ EN NUESTRO CEREBRO; CUANDO TENGAMOS QUE HACER ALGO Y LO PODAMOS ENTENDER... 
   VAMOS A ENCONTRAR Y VAMOS A SABER LA FORMA DE BUSCARLO...

=> NOTAS SQL...

In [ ]:
#...
# SQL: Strutured Query Language // Lenguaje de consultas extructuradas...

# Practicamente es algebra relacional..

# Consultas: Hacer una busqueda o pedir algun dato se llama consulta..
#  Tenes que poder hacer las 4 operaciones basicas de cualquier sistema de gestion...
# (C)-CREATE // (Crear)... INFORMAACION...
# (R)-READ // (Leer).. INFORMACION...
# (U)-UPDATE // (Actualizar / Modificar)... INFORMACION...
# (D)-DELETE // (borrar)... 

# ENTIDAD...  /  [Se representa encerrada en un cuadrado]...
# Es una palabra encerrada en un cuadro... 
# Es una representación de algo...clientes, productos, ordenes de compra, proveedores, ETC...
# Nomenclatura usada... NOTACIÓN DE CHEN...
# Ej: Casa[Encerrada en un cuadrado] / Sus atributos(Se representan con un ovalo): Tamaño, Dirección, Ambientes, Ubicación, Precio...

# TABLA / (Table): Una estructura de datos que se organiza en filas y columnas...
# Que informacion almacenan las tablas??? RTA: Informacion sobre esa entidad...

# CAMPO / (Field): Nombre de la columna... Pero solo del titulo o encabezado...

# VALOR DEL CAMPO / (Value field): Cada uno de los espacios o cuadros en una columna es el valor del campo... 

# REGISTRO / (Record): Nombre de la fila... Y de los datos de esa fila... Osea toda la fila entera...

# IDENTIFICADORES / (ID) / LLAVES PRIMARIAS...

=> SINTAXIS SQL... CRUD...

In [ ]:
# ...

# (C) => CREATE // (Crear)... INFORMAACION...
# Para INSERTAR dat@s en la tabla...
# INSERT INTO + Nombre de la tabla + (nombre,de,las,columnas) // Ej: INSERT INTO usuarios (nombre,apellido,edad)
# Y YA SEA AL LADO O EN LA PARTE DE ABAJO PONEMOS LOS VALORES...
# Ej: INSERT INTO usuarios (nombre,apellido,edad) 
#     VALUES ('Michael','Linares',36),   // Para ingresar un solo valor...
#            ('Kamilo','Carvajal',30)    // Para ingresar varios datos a la vez...


# (R) => READ // (Leer).. INFORMACION...
# Para HACER CONSULTAS, pedir un dat@S &... 
# SELECT: La sentensia que nos permite seleccionar algo o hacer consultas ... Nos genera siempre nuevas tablas   
# (*) Caracter universal en programación para referirme a todo o todos los datos...
# FROM: Que español traduce: (DE...) // Ej: FROM + Nombre de la tabla... // FROM usuarios...
# Todos los campos  //  Ej: SELECT * FROM usuarios 
# Un solo campo //  Ej: SELECT nombre FROM usurios 
# Dos campos... ETC // Ej: SELECT nombre,edad FROM usuarios


# (U) => UPDATE // (Actualizar / Modificar)... INFORMACIÓN...
# UPDATE + Nombre_tabla SET nombre_campo = "nuevo_valor"
# Ej: UPDATE turnos_medicos => Seleccionar tabla...
#     SET horario = "04:00" => Campo y valor a modificar... Modificar un solo Campo...
#     SET horario = "04:00", motivo = "Dolor Riñon Izq" => Modificar más de un campo... 
#     WHERE id_turno = 1 => Seleccionar o condicionar solo un campo // Para que no los modifique todos...


# (D) => DELETE // (borrar)... INFORMACIÓN...
# Para BORRAR los dat@s en la tabla.... 
# Borrar todo // DELETE FROM  + nombre de la tabla  //  Ej: DELETE FROM usuarios

=> ORDEN DE GERARQUIA EN CUANTO A LOS DATOS...

In [ ]:
# ...
# De forma (Asc) por defecto...
# (LAS LETRAS) => Es lo que mas vale => De la (A - Z)...
# (CARACTERES ESPECIALES) => Es lo que le sigue... // (El punto(.), La coma(,)... Los acentos())
# (NUMEROS) => Es lo que le sigue... de mayor a menor // (9 - 0) 
# (NULL) => Lo que menos valor tiene... //  EJ: ORDER BY ProductsName Asc NULLS LAST => Pone los nulls al final / NULLS FIRST => Pone los nulls al inicio.

=> CLAUSULAS SQL...

In [ ]:

# ...
# CLAUSULAS...

# CLAUSULA (AS)... // Cambiar nombres temporalmente... //  SE USA PRINCIPALMENTE PARA PONER ("NOMBRES MAS DESCRIPTIVOS") A LA TABLA O ALGUN CAMPO...
# EJ: => SELECT LastName AS apellido,FirstName AS Nombre FROM Employees / (Empleados)....

# CLAUSULA (ORDER BY)... // Ordenar de forma ascendente o descendente... // MEJOR DICHO ("FILTRAR") CREAMOS FILTROS....
# EJ: => SELECT * FROM Products    
#        ORDER BY price ASC / (precio) 

# (ORDER BY ASC)... // forma Ascendente, aunque por defecto ya lo pone asi sin el ASC... Poner (ASC) Practica correcta... 
# EJ: => SELECT * FROM products
#        ORDER BY price ASC

# (ORDER BY DESC)... // Forma Descendente... 
# EJ: => SELECT * FROM Products
#        ORDER BY Price DESC

# CLAUSULA (NULLS)...  // Pone los nulls al final... // NULLS FIRST => Pone los nulls al inicio... / NULLS LAST => Los  pone al final..
# EJ: => SELECT * FROM Products
#        ORDER BY ProductsName Asc NULLS LAST => Pone los nulls al final...

# ORDENAR CON ORDER BY POR NOMBRE DE CAMPO ESPECFICO... Ej: ORDER BY ProductsName, ProductID Asc / Desc.

# CLAUSULA (DISTINCT)... // Borrar los registros que están repetidos... // Selecciona los valores unicos de cada registro y valor del campo...
# EJ: => SELECT DISTINCT ProductName FROM Products  

# CLAUSULA (LIMIT)... // Para limitar el numero de valores o resultados en una consulta...
# EJ: => SELECT * FROM Customers
#        WHERE CustomerID >= 50
#        LIMIT 5 => (5) Número limite de valor por consulta...

=> ATRIBUTOS...

In [ ]:
# ...
# ATRIBUTOS... /  (Se representan con un ovalo)...

# Atributos simples: Datos unicos... / Ej: Precio...    ...ENTIDAD CASA...

# Atributos compuestos: / Que tienen más atributos... / Ej: Ambientes: Tamaño y Tipo...

# Atributos multivalor: (Se representan con doble ovalo) / Tienen + de un valor... /   EJ: Ventanas / Puertas...

# Atributos derivados: (Se representan con ovalo punteado) /  Se pueden obtener con cualquier otra información, osea de otro atributo...
# Ej: Ubicación se puede obtener de la dirreción... / Antiguedad se puede obtener de la fecha de construcción...

=> CLAVES / (KEYS)...

In [ ]:
# ...
# CLAVE O KEY...
# Tambien son atributos... (Se representan con el ovalo y ademas van subrayados...)
# Una forma unica de representar algo...  /   EJ: (ID)

#  LLAVE PRIMARIA O CLAVE PRIMARIA (Primary key): (PK) Como su identificador unico por tabla... Cada tabla tiene su llave primaria...
#  Nos sirve para identidficar un registro como unico...

# LLAVE O CLAVE FORANEA (Foreign key): (FK) Es un identificador que une dos tablas...
# Es una clave que nos permite hacer referencia, a una clave primaria de otra tabla...

=> FUNCIONES SQL...

In [ ]:
# ...
# FUNCIONES...

# Random() // EJ: ORDER BY RANDOM() => Ordenar de forma aleatoria...

=> CONDICONES O CONDICIONALES... CON LA CLAUSULA WHERE...

In [ ]:
# ...
# CLAUSULA WHERE...

# BUSCAR O CONDICIONAR POR Nro ID:
#  SELECT * FROM Products
#  WHERE ProductID = 14

# BUSCAR O CONDICIONAR POR NOMBRE:
#  SELECT * FROM Products
#  WHERE ProductName = "Tofu"

# BUSCAR O CONDICIONAR POR PRECIO:
#  SELECT * FROM Products
#  WHERE Price <= 40

=> OPERADORES LÓGICOS // AND / OR / NOT ...

In [ ]:
# ...
# OPERADORES LÓGICOS AND / OR / NOT ... AND LIMIT

# OPERADOR (AND)... // WHERE Condition1 AND Condition2...
# EJ: => SELECT * FROM Customers
#        WHERE Customer >= 50 AND Customer < 55 => Seleccionar por dos condiciones correctas... // Customer / (Cliente)...


# OPERADOR (OR)... // WHERE Condition1 OR Condition2...
# EJ: => SELECT *  FROM Employees
#        WHERE FirstName = "Michael" OR FirstName = "Anne" => Seleccionar por dos condiciones
#        Una verdadera & otra falsa y viceversa... // Employees / (Empleados)


# NOTA: Puedo unir dos condiciones (AND & OR) En una sola consulta...
# EJ: => SELECT * FROM Products
#        WHERE (Price < 20 OR CategoryID = 6) AND SupplierID = 7 //  WHERE Price < 20 OR (CategoryID = 6 AND SupplierID = 7) 



# OPERADOR (NOT)... 
# EJ: => SELECT * FROM Customers 
#        WHERE NOT Country = "USA" => Que me seleccione todos los paises menos los de "USA"...
#        WHERE NOT Country = "USA" AND NOT Country "France" => Para seleccionar y negar dos condicones...


# CLAUSULA (LIMIT)... // Para limitar el numero de valores o resultados en una consulta...
# EJ: => SELECT * FROM Customers
#        WHERE CustomerID >= 50
#        LIMIT 5 => (5) Número limite de valor por consulta...